.phone {
  margin: 2%;
  padding: 10px;
  display: flex;
  flex-grow: 1;
  flex-basis: 16%;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;

  .phone-image img {
    max-width: 100%;
  }
  .phone-info {
    margin-top: auto;
    h5 {
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
    h6 {
      font-size: 1rem;
      font-weight: normal;
      margin-top: 0;
    }
  }
}

@media (max-width: 920px) {
  .phone {
    flex: 1 21%;
  }
}

@media (max-width: 600px) {
  .phone {
    flex: 1 46%;
  }
}